/**
 * reset
 **/

/* Basic text styling */
html {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  font-family: helvetica, sans-serif;
  color: black;
  line-height: 1.25em;
  background-color: #fff;
}
body, header, footer, aside, section, article, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, a:hover, a:visited, em {
  font-size:        inherit;
  font-weight:      inherit;
  text-decoration:  inherit;
  font-family:      inherit;
  color:            inherit;
  background-color: transparent;
}

/* Block level elements */
html, body { height: 100%; }
html, body, header, footer, aside, section, article, h1, h2, h3, h4, h5, h6, p, ul, ol, li, img, blockquote, div {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
/* Push out variable width elements to full screen */
header:after, footer:after, aside:after, section:after, nav:after, article:after, p:after,
h1:after, h2:after, h3:after, h4:after, h5:after, h6:after,
ul:after, ol:after, li:after, img:after, div:after {
  content: '.';
  display: block;
  height: 1px;
  clear: left;
  overflow: hidden;
}
ul, ol { list-style: none; }

